.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(65, 65, 65);
  // text-transform: uppercase;
  font-family: "Allura";
  font-style: cursive;
  font-weight: 600;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(46, 45, 45);
    border: 0px solid white;
  }
}
